.steamWrapper{
	
}
.steamHeader{
	display: block;
	width: 75%;
	font-family: steelfish;
	font-size: 75pt;
	color: #Cf112B;
	border-bottom: 2px solid #333333;
	padding-bottom: 5px;
	margin-bottom: 10px;
}
.person{
	display: block;
	margin-bottom: 20px;
	font-size: 50px;
	font-family: steelfish;
	font-weight: bold;
	letter-spacing: 3px;
}
.profile{
	display: inline-block;
	width: 64px;
	margin-right: 20px;
}
.online{
	display: inline-block;
	width: 100px;
}

.offline{
	color: #cf112b;
}
