/* BEGIN WEATHER STYLE RULES */
.weatherTitleLine{
	width: 100%;
	position: absolute;
	right: 0;
	text-align: right;
	padding-bottom: 5px;
	padding-right: 5px;
	border-bottom: 2px solid #333333;
}
/* CURRENT WEATHER CSS */
.city{
	width: 75%;
	text-align: right;
	/* position: absolute;
	top: 0;
	right: 0;  */
	font-size: 75pt;
	color: #CF112B;
	
}
.temp{
	font-size: 63pt;
	/* position: absolute;
	right: 0px;
	top: 75pt; */
}
.weatherIco{
	font-family: MeteoconsRegular;
	display: inline;
	padding-left: 30px;
	/* padding-right: 10px; */
	font-size: 55pt;
}
.weatherVal{
	display: block;
	position: absolute;
	right: 0;
	top: 80pt; 
	font-size: 36pt;
	text-transform: capitalize;
}
.weatherSys{
	
}
/* 5 DAY WEATHER CSS */
.weatherForecastWrappper{
	width: 100%;
	position: absolute;
	top: 120px;
	left: 27%;
}
.foreDay{
	text-align: center;
	display: inline-block;
	width: 15%;
	height: 100px;	
}
.weekDay{
	font-size: 28pt;
}
.forecastIco{
	display: block;
	font-family: MeteoconsRegular;
	font-size: 24pt;
	padding-top: 5px;
}
.forecastTemp{
	font-size: 28;
}
.forecastHigh{
	margin-right: 10px;
} 
.forecastLow{
	color: #ababab;
}
/* END WEATHER STYLE RULES */