/* BEGIN WEATHER STYLE RULES */
.currentweatherWrapper{
	
}
/* CURRENT WEATHER CSS */
.weatherIco{
	font-family: MeteoconsRegular;
	font-size: 63pt;
}
.city{
	width: 75%;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 72pt;
	color: #CF112B;
	border-bottom: 2px solid #333333;
}
.temp{
	font-size: 63pt;
	position: absolute;
	right: 0px;
	top: 75pt;
}
.weatherVal{
	display: block;
	position: absolute;
	right: 0;
	top: 140pt;
	font-size: 36pt;
	text-transform: capitalize;
}
.weatherSys{
	
}
/* 5 DAY WEATHER CSS */
.weatherForecastWrappper{
	width: 100%;
	position: absolute;
	top: 110px;
	left: 28.75%;
}
.foreDay{
	text-align: center;
	display: inline-block;
	width: 15%;
	height: 100px;	
}
.weekDay{
	font-size: 28pt;
}
.forecastIco{
	display: block;
	font-family: MeteoconsRegular;
	font-size: 24pt;
	padding-top: 5px;
}
.forecastTemp{
	font-size: 28;
}
.forecastHigh{
	margin-right: 10px;
} 
.forecastLow{
	color: #ababab;
}
/* END WEATHER STYLE RULES */