/* BEGIN WEATHER STYLE RULES */
.currentweatherWrapper{
	
}
/* CURRENT WEATHER CSS */
.weatherIco{
	font-family: MeteoconsRegular;
	font-size: 63pt;
}
.city{
	width: 75%;
	text-align: right;
	position: absolute;
	top: 0;
	right: 0;
	font-size: 72pt;
	color: #CF112B;
	border-bottom: 2px solid #333333;
}
.temp{
	font-size: 63pt;
	position: absolute;
	right: 0px;
	top: 75pt;
}
.weatherVal{
	display: block;
	position: absolute;
	right: 0;
	top: 140pt;
	font-size: 36pt;
	text-transform: capitalize;
}
.weatherSys{
	
}

/* 5 DAY WEATHER CSS */
.foreDay{
	display: inline-block;
	
}
/* END WEATHER STYLE RULES */